.App {

  
 }

 
 body {
  background-color: #191C20;
 }

 .banner {
  background-color: ghostwhite;
  height: 70px;
  width: 100000px;
  position: fixed;
  margin-top: -14px;
 }

.bottom-banner{
  background-color: ghostwhite;
  height: 70px;
  width: 100000px;
  position: fixed;
  margin-top: 3px;

}
 

 .logo {
  position: relative;
  text-align: left;
  font-size: 25px;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:1px;
  padding-top: 14px;
  padding-left: 300px;


 }

 .signOut {
  position: absolute;
  margin-left: 1803px;
  margin-top: -65px;
  background-color: black;
  color: white;
 }

 .photo-btn {
  position: absolute;
  margin-left: 1665px;
  margin-top: -65px;
  background-color: white;

 }

 .type{
  color: rgb(205, 198, 198);
  position: relative;
  text-align: left;
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:1px;
  margin-top: -53px;
  padding-left: 380px;
 }

 .nuber-driver {
  width: 100vw;
  display: block;
  overflow: hidden;
 }



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
